#vim extensions
*.swp
*.swo
*.swn

#python extensions
*.pyc

#folders to ignore
__pycache__/
xpylib.egg-info/
htmlcov/
docs/_build
!docs/_build/

#files to ignore
.coverage
coverage.json
bandit.json
bandit-report.html
report.html
